.App {
  margin: 20px;
}
.spacer {
  margin-bottom: 1.5rem;
}

.marginRight10 {
  margin-right: 1rem;
}

.loadingDetails {
  margin-top: 20px;
  margin-left: 10px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid lightseagreen;
  width: 250px;
  height: 250px;
  opacity: .15;
  -webkit-animation: spin 2.5s linear infinite; 
  /* Safari */
  animation: spin 2.5s linear infinite; 
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}